*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	font-family: 'roboto', sans-serif;
	background-color: rgb(17, 16, 16);
	color: white;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 22px;
	background-color: rgb(17, 16, 16);
	position: fixed;
	top: 0%;
	width: 100%;
}

ul{
	display: flex;
	align-items: center;
}

ul li{
	list-style: none;
}

ul li a{
	text-decoration: none;
	color: white;
	font-size: 19px;
	margin-inline: 22px;
}

ul li a:hover{
	color: rgb(0, 140, 255);
	border-bottom: 2px solid rgb(0, 140, 255);
}

#bar{
	display: none;
}

.logo{
	font-size: 22px;
	
}

.logo span{
	color: rgb(0, 153, 255);
}

.main{
	display: flex;
	justify-content: center;
	margin-top: 155px;
	align-items: center;
}

.mainText h1{
	font-size: 70px;
}

.mainText h1 span{
	color: rgb(0, 153, 255);
}

.mainText h3{
	font-size: 28px;

}

.mainText p{
	font-size: 26px;
}

.mainText i{
	font-size: 20px;
	background-color: rgb(0, 153, 255);
	border-radius: 50%;
	background: transparent;
	border: 2px solid rgb(0, 157, 255);
	color: rgb(0, 153, 255);
	text-decoration: none;
	margin: 25px 15px 17px 0;
	transition: .5s ease;
/*	opacity: 0;*/
/*	animation-delay: calc(.2s * var(--i));*/
/*	animation: slideLeft 1s ease forwards;;*/
	height: 40px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: inline-flex;
	margin-inline: 5px;
	width: 40px;
}

.mainText i:hover{
	background-color: rgb(0, 157, 255);
	color: white;
}

.mainText button{
	width: 200px;
	height: 40px;
	background-color: rgb(0, 157, 255);
	font-size: 17px;
	border: none;
	margin-top: 20px;
	color: white;
}

button:hover{
	border: 2px solid rgb(0, 149, 255);
	background-color: transparent;
	cursor: pointer;
}

.head{
	font-size: 32px;
	text-align: center;
	padding: 80px;
	margin-top: 170px;
}

.head span{
	color: rgb(0, 140, 255);
 }

.about{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	background-color: rgb(28, 28, 28);
	padding: 59px;
}

.about img{
	width: 250px;
	border-radius: 50%;
	border: 4px solid rgb(0, 136, 255);
	margin-inline: 55px;
}

.aboutText p{
	margin-top: 20px;
}

.aboutText h2 span{
	color: rgb(0, 140, 255);
}

.aboutText p span{
	color: rgb(218, 218, 218);
}

.aboutText h2{
	margin-top: 20px;
	font-size: 35px;
}

.container1{
	width: 600px;
	height: 500px;
	padding: 10px 140px;
	margin-left: 120px;
}

.bar{
	font-size: 20px;

}

.Technical-bars .bar{
	justify-content: center;
	align-items: center;
	width: 800px;
	margin-inline: 20px;
	padding: 17px;
	margin-top: 22px;

}

.Technical-bars .bar:first-child{
	margin-top: 0;
}

.Technical-bars .bar:last-child{
	margin-bottom: 0;
}

.Technical-bars .bar .info{
	margin-bottom: 5px;
}

.Technical-bars .bar .info span{
	font-size: 18px;
	font-weight: 500;
}

.Technical-bars .bar .progress-line{
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 5px;
	background-color: #000000;
}

.Technical-bars .bar .progress-line span{
	height: 100%;
	background-color: rgb(0, 140, 255);
	position: absolute;
	border-radius: 10px;
	transform-origin: left;
}

.progress-line.Javascript span{
	width: 95%;
}

.progress-line.html span{
	width: 90%;
}

.progress-line.css span{
	width: 88%;
}

.progress-line.c-lang span{
	width: 70%;
}

.progress-line.c-plus-plus span{
	width: 68%;
}

.progress-line span::after{
	position: absolute;
	padding: 1px 8px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	top: -28px;
	right: -20px;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

.progress-line.Javascript span::after{
	content: "95%";
}

.progress-line.html span::after{
	content: "90%";
}

.progress-line.css span::after{
	content: "88%";
}

.progress-line.c-lang span::after{
	content: "70%";
}

.progress-line.c-plus-plus span::after{
	content: "68%";
}

.progress-line span::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 7px solid transparent;
	border-block-width: 0px;
	border border-right-width: 0px;
	border-top-color: #000;
	top: -10px;
	right: 0;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

@keyframes showText{
	100%{
		opacity: 1;
	}
}

@media screen and (max-width:800px){
	.Technical-bars .bar .info{
		margin: 0px;
	}
	.Technical-bars .bar .info span{
		font-size: 17px;
	}
	.Technical-bars .bar{
		font-size: 10px;
		display: block;
		margin-left: 0px;
	}
	.Technical-bars .bar  .progress-line{
		width: 40%;
	}
}
  
.myWork{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.workCard{
	width: 300px;
	height: 310px;
	background-color: #232323;
	border-radius: 5px;
	margin-inline: 20px;
	padding: 11px;
	margin-top: 22px;
}

.workCard img{
	width: 100%;
	height: 200px;
}

.workCard p{
	margin-top: 11px;
}

.workCard a{
	text-decoration: none;
	position: absolute;
	margin-top: 20px;
	padding: 6px 12px;
	background-color: rgb(0, 128, 255);
	color: white;
}

@media screen and (max-width:1000px){
	.main{
		display: block;
		text-align: center;
		margin-top: 155px;
	}
}

/*Bar*/

@media screen and (max-width:800px){
	ul{
		display: none;
	}
	.showData{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 23px;
		background-color: rgb(60, 59, 59);
		gap: 20px;
		border-radius: 5px;
		position: fixed;
		top: 75px;
		right: 3%;
	}
	#bar{
		display: block;
		font-size: 25px;
		cursor: pointer;
	}
}

/*HOME*/

@media screen and (max-width:550px){
	.mainText h1{
		font-size: 36px;
	}
	.mainText h3{
		font-size: 21px;
	}
	.mainText p{
		font-size: 20px;
	}
}
	/*.main img{
		width: 90%;
	}*/

.contact{
	text-align: center;
	display: flex;
	justify-content: center;
	margin-inline: 10px;
	margin-right: 50px;
}

#title{ 
	margin-top: 65px;
	text-align: center;
/*	display: flex;*/
	justify-content: center;
	margin-inline: 10px;
	margin-right: 50px;
	gap: 70px;
}

.title p{
	display: inline-block;
/*	margin-top: 50px;*/
}

.title i{
	padding: 20px;
/*	margin-top: 20px;*/
	border-radius: 50%;
	font-size: 30px;
	display: inline-block;
	color: rgb(0, 128, 225);
}

#contact1{
	margin-top: 40px;
	font-size: 22px;
	margin-left: 130px;
	margin-right: 105px;
}

#contact2{
	margin-right: 130px;
	margin-top: 0px;
	justify-content: center;
	font-size: 20px;
}

#contact3{
	margin-right: 130px;
	margin-top: 0px;
	font-size: 20px;
	margin-left: 20px;
}

.title p{
	margin-inline: 20px;

}

@media screen and (max-width:610px){
	.title p{
		display: block;
		font-size: 15px;
		justify-content: center;
	}

	.title i{
		display: block;
		font-size: 25px;
	}

	#contact1{
		margin-left: 10px;
	}

	.contact1 i{
		margin-right: 20px;
	}

	.contact1 p{
		margin-left: 10px;
	}

	.contact2 i{
		margin-left: 23px;
	}

	.contact2 p{
		margin-right: 20px;
	}

	#contact3{
		margin-left: 10px;
	}

	.contact3 i{
		margin-left: 10px;
	}

	.contact3 p{
		margin-right: 20px;
	}
}
	